.switch {
  display: flex;
  position: relative;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.switch:hover {
  color: black;
}

.switch__box {
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 55px;
  height: 30px;
  appearance: none;
  cursor: pointer;
}

.switch__box:hover {
  border: 2px solid black;
  cursor: pointer;
}

.switch__slider {
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: black;
  color: #7e7e7e;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 3px;
}

.switch__slider-F {
  left: 29px;
}

.switch__slider-C {
  left: 4px;
  color: inherit;
}

.switch__temp-F {
  font-size: 15px;
  position: absolute;
  top: -6px;
  left: 40px;
  color: inherit;
}

.switch__temp-C {
  font-size: 15px;
  position: absolute;
  top: -6px;
  left: 13px;
  color: inherit;
}

.switch__active {
  top: -6px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}
