.header {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    padding: 0 20px;
  }
  
  .header__left {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .header__logo {
    max-width: 89px;
    max-height: 40px;
  }
  
  .header__right {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .header__avatar {
  
  }
