/* .weather {
  position: relative;
}

.weather__info {
  position: absolute;
  top: 12px;
  left: 16px;
  color: white;
  font-size: 36px;
}

.weather__image {
  width: 100%;
} */

.page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page__container {
  max-width: 1400px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 20px;
}
