.main {
  font-family: "CabinetGrotesk-Bold";
}

.card-section {
  margin-top: 30px;
}

.card-items__container {
  display: flex;
  justify-content: center;
  max-width: 1360px;
}

.card-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 740px) {
  .card-items {
    justify-content: center;
  }
}
