/* <div className='modal'>
            <div className='modal__content'>
                <button type='button' onClick={onClose} class='modal__close-button'>
                    <img src={require('../../images/close-icon.svg').default} />
                </button>
                <img src={selectedCard.link} className='modal__img' />
                <div className='modal__item-name'>{selectedCard.name}</div>
                <div className='modal__item-weather'>Weather: {selectedCard.weather}</div>
            </div>
        </div>*/

.modal {
    padding: 0;
    font-family: 'CabinetGrotesk-Bold';
    font-size: 20px;
}

.modal__content {
    height: 610px;
    width: 498px;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.modal__close-button {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 450px;
    top: 15px;
    z-index: 101;
    cursor: pointer;
}

.modal__img {
    width: 498px;
    height: 498px;
    object-fit: ;
}

.modal__item-name {
    margin-top: 10px;
    margin-left: 15px;
}

.modal__item-weather {
    margin-left: 15px;
    margin-top: 10px;
}
