.side-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side-bar__info {
  display: flex;
  gap: 20px;
}

.side-bar__avatar {
  border-radius: 50px;
  height: 56px;
  width: 56px;
}

.side-bar__name {
  font-size: 20px;
  white-space: nowrap;
  margin-top: 15px;
}

.side-bar__buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.side-bar__edit-profile-button {
  background-color: transparent;
  border: none;
  font-family: "CabinetGrotesk-Bold";
  width: min-content;
  text-wrap: nowrap;
  cursor: pointer;
  font-size: 20px;
}

.side-bar__log-out-button {
  background-color: transparent;
  border: none;
  font-family: "CabinetGrotesk-Bold";
  width: min-content;
  text-wrap: nowrap;
  cursor: pointer;
  font-size: 20px;
}
